<!--The content below is only a placeholder and can be replaced.-->
<app-navbar class="mb-5"></app-navbar>
<div class="row text-white">
<div class="col-4">
<div class="card mt-2">
    <div class="card-header bg-secondary text-white font-weight-bold">
        Personal Information
    </div>
    <div class="card-content bg-primary">
            <div class="ml-3" *ngFor="let user of userObservable | async">
                <div class="" *ngIf="user.Name === 'Name'">
                        <span>{{user.Name}}: </span>
                        <span class="font-weight-bold">{{user.Value}}</span>
                </div>
                <div class="" *ngIf="user.Name === 'Contact'">
                        <span>{{user.Name}}: </span>
                        <span class="font-weight-bold">{{user.Value}}</span>
                </div>
                <div class="" *ngIf="user.Name === 'Email'">
                        <span>{{user.Name}}: </span>
                        <span class="font-weight-bold">{{user.Value}}</span>
                </div>
                <div class="" *ngIf="user.Name === 'Address'">
                        <span>{{user.Name}}: </span>
                        <span class="font-weight-bold">{{user.Value}}</span>
                </div>
                <div class="" *ngIf="user.Name === 'Experience'">
                        <span>{{user.Name}}: </span>
                        <span class="font-weight-bold">{{user.Value}}</span>
                </div>
                <div class="" *ngIf="user.Name === 'Company'">
                        <span>{{user.Name}}: </span>
                        <span class="font-weight-bold">{{user.Value}}</span>
                </div> 
            </div>
    </div>
</div>

<div class="card mt-5">
    <div class="card-header bg-secondary text-white font-weight-bold">
            Skills
    </div>
    <div class="card-content bg-success">
            <div class="ml-3" *ngFor="let skill of skillsObservable | async">
                    <div>
                            <span>{{skill.Name}}: </span>
                            <span class="font-weight-bold">{{skill.Experience}}</span>
                    </div>
            </div>
    </div>
</div>

<div class="card mt-5">
  <div class="card-header bg-secondary text-white font-weight-bold">Education</div>
  <div class="card-content bg-danger">
      <div class="ml-3" *ngFor="let education of educationObservable | async">
          <div>
            <span>{{education.Name}}: </span>
            <span class="font-weight-bold">{{education.Value}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-8 mt-2">
  <div class="card">
      <div class="card-header bg-secondary text-white font-weight-bold">Projects</div>
      <div class="card-content bg-warning">
            <div class="ml-3" *ngFor="let project of projectsObservable | async">
                    <div>
                      <a class="text-primary" (click)="openProjectModal(project)">{{project.Name}}: </a>
                      <span class="font-weight-bold">{{project.Duration}}</span>
                      <p class="text-success">
                          {{project.Description}}
                      </p>
                  </div>
                </div>
      </div>
  </div>
</div>
</div>
<div class="row mt-5">
        <div #gmap style="width:100%;height:400px"></div>
</div>

