<!--The content below is only a placeholder and can be replaced.-->
<app-navbar class="mb-5"></app-navbar>

<ul class="mt-5">
  <div class="mt-5" *ngFor="let skill of skillsObservable | async">
      <ngb-alert type="info" [dismissible]="false">
          <h3><a href="#">{{skill.Name}}</a> </h3>
          <p>{{skill.Experience}}</p>
      </ngb-alert> 
  </div>
</ul>
<div class="card">
  <div class="card-header">Education</div>
  <div class="card-content">
    <ul class="mt-5">
      <div class="mt-5" *ngFor="let education of educationObservable | async">
          <ngb-alert type="info" [dismissible]="false">
              <h3><a href="#">{{education.Name}}</a> </h3>
              <p>{{education.Value}}</p>
          </ngb-alert> 
      </div>
      </ul>
    </div>
  </div>


<ul class="mt-5">
<div class="mt-5" *ngFor="let user of userObservable | async">
    <ngb-alert type="info" [dismissible]="false">
        <h3><a href="#">{{user.Name}}</a> </h3>
        <p>{{user.Value}}</p>
    </ngb-alert> 
</div>
</ul>